	<footer class="footer">
		<ul class="nav footer__nav">
			<li><a href="/">Home</a></li>
			<li><a href="/about.html">About</a></li>
			<li><a href="/the-band.html">The Band</a></li>
			<li><a href="/media.html">Watch, Listen</a></li>
			<li><a href="/gigs.html">On Tour</a></li>
			<li><a href="/contact.html">Contact Us</a></li>
		</ul>

		<ul class="footer__social">
			<li><a href="https://www.facebook.com/TheBluesIssue"><img src="/assets/imgs/icons/facebook.png" alt="Find us on Facebook"></a></li>
			<li><a href="http://www.youtube.com/channel/UCoykz-cOM0CI1EuuwRlqVeQ" alt="Vist our YouTube Channel"><img src="/assets/imgs/icons/youtube.png"></a></li>
		</ul>


	<div class="smallprint">
		<p>Site Design by <a href="http://www.mattgreenfield.co.uk" target="_blank">Matt Greenfield</a>. Copyright 2014.</p>
	</div>

	</footer>
