// CONTACT
.contact__grid {
  @include media-query(lap-and-up) {
    width: 50%;
  }
}

.contact__manual {
  p {
    display: inline-block;
  }
  h3 {
    display: inline-block;
  }
}

.contact__form {
  .text-input {
    padding: $quarter-spacing-unit;
    max-width: 100%;
  }
}

.contact__form__message {
  width: 100%;
  height: 200px;
}
