// 'The Band' Page
.band__bio {
  margin-bottom: $base-spacing-unit;
  @include media-query(lap) {
    width: 50%;
  }
  @include media-query(desk) {
    width: 70%;
  }
  .band__name {
    font-size: 72px;
    line-height: .8;
    margin: 0;
    color: $red;
  }

  .band__role {

  }
}

.band__photo {
  margin-bottom: $base-spacing-unit;
  @include media-query(lap) {
    width: 50%;
  }
  @include media-query(desk) {
    width: 30%;
  }
  img {
    display: block;
    margin: $half-spacing-unit auto;
    @include media-query(lap-and-up) {
      margin-top: $base-spacing-unit*2;
    }
  }
}
