{% include "header" %}
 	<body>
    <div class="page-container">

  			{% include "navigation" %}

  			{% include "logo" %}

        <div class="content">
	        {% block content %}{% endblock %}
        </div>

  			{% include "footer" %}

    </div>
  </body>
</html>
