{% include "header" %}
{% include "logo" %}
{% include "navigation" %}

 	<body class="wrapper">
        
        <div class="container">
            {% block content %}{% endblock %}
        </div>

		{% include "footer" %}
		
    </body>
</html>