@charset "UTF-8";

@font-face {
	font-family: Old Press;
  	src: url('../fonts/old-press.woff') format('woff'), /* Modern Browsers */
       	 url('../fonts/old-press.ttf')  format('truetype'), /* Safari, Android, iOS */
}

// ============= //
// Inuit Imports //
// ============= //

/* Settings: Global variables, site-wide settings, config switches, etc. */
@import "bower_components/inuit-defaults/settings.defaults";
@import "bower_components/inuit-responsive-settings/settings.responsive";

/* Tools: Site-wide mixins and functions. */
@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";
@import "bower_components/inuit-responsive-tools/tools.responsive";

/* Generic: Low-specificity, far-reaching rulesets (e.g. resets). */
@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-box-sizing/generic.box-sizing";

/* Base: Unclassed HTML elements (e.g. a {}, blockquote {}, address {}). */
@import "bower_components/inuit-images/base.images";

/* Objects: Objects, abstractions, and design patterns (e.g. .media {}). */
@import "bower_components/inuit-inline-list/objects.inline-list";
@import "bower_components/inuit-layout/objects.layout";

/* Components: Discrete, complete chunks of UI (e.g. .carousel {}). This is the one layer that inuitcss doesn’t get involved with. */

/* Trumps: High-specificity, very explicit selectors. Overrides and helper classes (e.g. .hidden {}). */



/* Make Inuit work like it used to  */
.grid { @extend %layout; }
.grid__item { @extend %layout__item; }
$base-spacing-unit: $inuit-base-spacing-unit;
$half-spacing-unit: $inuit-base-spacing-unit--small;



// Blues Issue Variables
$old-press: 'Old Press', Impact, sans-serif;
$red: #b90039;
$blue: #263791;

// Import Pages
@import "pages/index";
@import "pages/about";
@import "pages/the-band";
@import "pages/gigs";
@import "pages/media";
@import "pages/contact";


body {
	background-color: black;
 	background: url("../imgs/background.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment:fixed;
	padding: 0px $base-spacing-unit;
 }

.page-container {
	max-width: 1200px;
	min-width: 250px;
	margin: auto;
}

// Grey opaque box for content
%panel {
	padding: 20px;
	margin-top: 30px;
 	background-color: white;
 	background-color: rgba(255, 255, 255, 0.9);
 	border-radius: 4px;
}

.content {
 	min-height: 400px;
	@extend %panel;
}


// TEXT

a {
	color: $blue;
	text-decoration: none;
	&:hover {
		color: lighten($blue, 30%);
	}
}

h1, h2, h3 {
	font-family: $old-press;
	color: $red;
}

h1 {
	font-size: 54px;
}
.smallprint {
	font-size: .8em;
}

// LOGO

// Only shows on lap and up, replaced by additional nav item on palm view.
.logo {
	display: none;
	width: 190px;
	margin-top: 25px;
	margin-left: 25px;
	@include media-query(lap-and-up) {
		display: block;
	}
}



// Navigation - Top

.top-nav {
	@include media-query(lap-and-up) {
		float: right;
		height: 50px;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	li {
		text-align: center;
		font-family: $old-press;
		font-size: 2em;

		// negative margin to overcome the body padding
		margin-left: -$base-spacing-unit;
		margin-right: -$base-spacing-unit;

		@include media-query(lap-and-up) {
			display: inline;
			padding: 30px 10px 10px;
			margin: 0;
		}
	}

	.current {
		background-color: $red;
	}

	.index-link {
		a {
			color: white;
			font-size: 1.2em;
		}
		@include media-query(lap-and-up) {
			display: none;
		}
	}

 }

// Footer
.footer {
	@extend %panel;
}
.footer__social {
	list-style: none;
	float: right;
	li {
		display: inline-block;
	}
}

.footer__nav {
		@extend %inline-list;
		li {
			padding: 0 5px;
		}
}
