<nav class="top-nav">
	<ul>
		<li class="index-link"><a href="/">The Blues Issue</a></li>
		<li {% if mixture.url == "about" %}class="current"{% endif %}><a href="/about">About</a></li>
		<li {% if mixture.url == "the-band" %}class="current"{% endif %}><a href="/the-band">The Band</a></li>
		<li {% if mixture.url == "media" %}class="current"{% endif %}><a href="/media">Watch, Listen</a></li>
		<li {% if mixture.url == "gigs" %}class="current"{% endif %}><a href="/gigs">On Tour</a></li>
		<li {% if mixture.url == "contact" %}class="current"{% endif %}><a href="/contact">Fan Mail</a></li>
	</ul>
</nav>
