@charset "UTF-8";

@font-face {
	font-family: Old Press;
  	src: url('/assets/fonts/old-press.woff') format('woff'), /* Modern Browsers */
       	 url('/assets/fonts/old-press.ttf')  format('truetype'), /* Safari, Android, iOS */
}


// Import Inuit
@import "../../../../inuit/inuit.css/inuit";

//These are required for the _my-mixins in inuit folder. not used on this site, should be removed or re-thought.
$primary-color: red;
$secondary-color: blue;

// Import my custom inuit settings, mixins and classes
@import "../../../../inuit/my-mixins";







// ================== //
// Blues Issue Styles //
// ================== //

//Variables
$old-press: 'Old Press', Impact, sans-serif;
$red: #b90039;
$blue: #263791;




body {
	background-color: black;
 	background: url("/assets/imgs/background.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment:fixed;
 }


.content,
footer {
	padding: 20px;
	margin-top: 30px;
 	background-color: white;
 	background-color: rgba(255, 255, 255, 0.9); 
 	@include vendor(border-radius, 4px);
}

.content {
 	min-height: 400px;
}

 .index-logo {
 	display: block;
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	margin-top: -180px;
 	margin-left: -145px;
 }

 .enter-site {
 	position: absolute;
 	width: 100%;
	text-align: center;
 	bottom: 80px;
 }

.footer__social {
	list-style: none;
	float: right;
	li {
		display: inline-block;
	}
}

.footer__nav {
	li {
		margin: 0px 5px;
	}
}



/*TEXT*/

a {
	color: $blue;
	text-decoration: none;
	&:hover {
		color: lighten($blue, 30%);
	}
}

h1, h2, h3 {
	font-family: $old-press;
}

.centered {
	text-align: center;
}

.blue {	color: $blue;  }
.red { color: $red; }





.logo {
	img {
		width: 190px;
	}
}


 .top-nav {
 	float: right;
 	max-width: 510px;
 	height: 50px;
 	li {
	 	text-align: center;
	 	font-family: $old-press;
	 	font-size: 2em;
 		padding: 0px 10px;
 	}
 	.current {
 		background-color: $red;
 	}
 	.index-link {
		display: none;
	}
 }

@media (max-width: 800px){
   .top-nav {
	 	float: none;
	 	margin: auto;
	}
	.logo {
		margin-top: 50px;
	}
}

@media screen and (max-width: 600px) {
	.index-link {
		display: block!important;
		a {
			color: white;
			font-size: 1.2em;
		}
	}
	.top-nav {
		position: relative;
		ul {
			width: 100%;
		}
		li {
			display: block;
		}
	}

	.logo {
		display: none;
	}
}