@charset "UTF-8";

@font-face {
	font-family: Old Press;
  	src: url('/assets/fonts/old-press.woff') format('woff'), /* Modern Browsers */
       	 url('/assets/fonts/old-press.ttf')  format('truetype'), /* Safari, Android, iOS */
}

// ============== //
// Inuit Settings //
// ============== //
$use-beautons: false;
$use-grids: true;
$use-nav:true;

// Import Inuit
@import "inuit.css/inuit";

//Variables
$old-press: 'Old Press', Impact, sans-serif;
$red: #b90039;
$blue: #263791;

// Import Pages
@import "pages/index";
@import "pages/about";
@import "pages/the-band";
@import "pages/gigs";
@import "pages/contact";

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
 	background: url("/assets/imgs/background.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment:fixed;
	padding: 0px $base-spacing-unit;
 }

.page-container {
	max-width: 1200px;
	min-width: 250px;
	margin: auto;
}

// Grey opaque box for content
%panel {
	padding: 20px;
	margin-top: 30px;
 	background-color: white;
 	background-color: rgba(255, 255, 255, 0.9);
 	@include vendor(border-radius, 4px);
}

.content {
 	min-height: 400px;
	@extend %panel;
}


// TEXT

a {
	color: $blue;
	text-decoration: none;
	&:hover {
		color: lighten($blue, 30%);
	}
}

h1, h2, h3 {
	font-family: $old-press;
	color: $red;
}

h1 {
	font-size: 54px;
}

// LOGO

// Only shows on lap and up, replaced by additional nav item on palm view.
.logo {
		display: none;
		width: 190px;
		margin-top: 25px;
		margin-left: 25px;
		@include media-query(lap-and-up) {
			display: block;
		}

}



// Navigation - Top

.top-nav {
		@include media-query(lap-and-up) {
			float: right;
			max-width: 510px;
			height: 50px;
		}
		ul {
			margin: 0;
			list-style-type: none;
		}
		li {
			text-align: center;
			font-family: $old-press;
			font-size: 2em;

			// negative margin to overcome the body padding
			margin-left: -$base-spacing-unit;
			margin-right: -$base-spacing-unit;

			@include media-query(lap-and-up) {
				display: inline;
				padding: 30px 10px 10px;
				margin: 0;
			}
		}

	.current {
		background-color: $red;
	}

	.index-link {
		a {
			color: white;
			font-size: 1.2em;
		}
		@include media-query(lap-and-up) {
			display: none;
		}
	}

 }

// Footer
.footer {
	@extend %panel;
}
.footer__social {
	list-style: none;
	float: right;
	li {
		display: inline-block;
	}
}

.footer__nav {
	li {
		margin: 0px 5px;
	}
}
