{% block title %}Contact{% endblock %}
{% block description %}Contact the band for more information on gigs, recordings and... anything really!{% endblock %}

{% block content %}
		<p>Contact the band for info on up and coming gigs, details on the set lists, where Steve gets his hats from or just about anything really.....</p>
		<p>Phone: 07796110679</p>
		<p>Email: thebluesissue@gmail.com</p>
{% endblock %}