{% block title %}Gigs{% endblock %}

{% block content %}

<div class="grid">
  
  <div class="grid__item one-whole lap-two-quarters desk-three-quarters">
 		<p>Seeing The Blues Issue live really is the best way to see them! Heres a list of all their upcomming gigs. Click on each one for more info or use the contact page if you want to know even more.</p>

   		<h2>Blues Jam</h2>
   		<p>We run the blues jam, second sunday of every month at the Ranelagh, Brighton.</p>

   		<h2>Acoustic</h2>
   		<p>If it says acoustic, thats a stripped down Blues Issue, a change of instruments and tweaks to the classic songs.</p>
    </div><!-- 

 --><div class="grid__item one-quarter">
    	<iframe id="bp-iframe-0" src="https://www.bandpage.com/extension/tour?bid=149439468703612928&amp;dest=www.bandpage.com%2Fextension&amp;dest_id=eba4079b-6116-4c14-bd0f-1f752171019a&amp;width=250&amp;height=562&amp;opacity=0&amp;layout=&amp;theme=light&amp;font=&amp;includetitle=true&amp;extensiontype=tour&amp;bandbid=149439468703612928&amp;extbid=274579472324276224&amp;cid=rm-transport-0#http://www.thebluesissue.co.uk" frameborder="0" style="width: 250px; height: 562px; border: none;"></iframe> 	         
    </div>

</div>
	
{% endblock %}