{% layout "index-layout" %}

{% block title %}Home{% endblock %}


{% block content %}


	<a href="/about"><img class="index-logo" src="/assets/imgs/logo.png" alt="The Blues Issue"/></a>
	<h2 class="enter-site"><a href="/about">Enter Site</a></h2>



{% endblock %}