{% layout "index-layout" %}

{% block title %}Home{% endblock %}


{% block content %}



<div class="grid">
  
	<div class="grid__item lap-one-half one-whole desk-five-twelfths">
		<img src="/assets/imgs/logo.png" alt="The Blues Issue"/>
	</div><!-- 

 --><div class="grid__item lap-one-half desk-seven-twelfths">
        <div class="video-container">
			<iframe src="//www.youtube.com/embed/zUynkOzOjYI" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

</div>



{% endblock %}