@charset "UTF-8";
/*------------------------------------*\
    YOUR-PROJECT.CSS
\*------------------------------------*/
/**
 * 
 * sass --watch your-project.scss:your-project.min.css --style compressed
 * 
 * Here we set up some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
$use-beautons: false;
$use-grids: true;

@import "defaults";
@import "inuit.css/inuit";




@font-face {
	font-family: Old Press;
	src: url(/assets/fonts/Old-Press.ttf);
}

$old-press: 'Old Press' Impact, sans-serif;


$red: #b90039;
$blue: #263791;

@mixin rounded-corners {
	border-radius: 4px;
}






.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}






body {
	background-color: black;
 	background: url("/assets/imgs/background.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment:fixed;
 }

.wrapper {
	max-width: 1100px;
	margin: auto;
	padding: 20px;
}

.container, footer {
	padding: 20px;
	margin-top: 30px;
 	background-color: white;
 	background: rgba(255, 255, 255, 0.9); 
 	@include rounded-corners;
}

 .container {
 	min-height: 400px;
 }

 .index-logo {
 	display: block;
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	margin-top: -180px;
 	margin-left: -145px;
 }

 .enter-site {
 	position: absolute;
 	width: 100%;
	text-align: center;
 	bottom: 80px;
 }

 footer {
 	.footer__social {
 		list-style: none;
 		float: right;
 		li {
 			display: inline-block;
 		}
 	}
 }


/*TEXT*/

a {
	color: $blue;
	text-decoration: none;
	&:hover {
		color: lighten($blue, 30%);
	}
}

h1, h2, h3 {
	font-family: $old-press;
}

.centered {
	text-align: center;
}

.blue {	color: $blue;  }
.red { color: $red; }





.logo {
	img {
		width: 190px;
	}
}



.open-nav {
		display: none;
}	

 .top-nav {
 	position: absolute;
 	top: 0;
 	right: 0;
 	text-align: center;
 	font-family: $old-press;
 	font-size: 2em;
 	.current {
 		background-color: $red;
 	}
 	.index-link {
		display: none;
	}
 }

@media (max-width: 800px){
   .top-nav {
 	width: 100%;
	}
	.logo {
		margin-top: 50px;
	}
}

@media screen and (max-width: 600px) {
	.index-link {
		display: block!important;
		a {
			color: white;
			font-size: 1.2em;
		}
	}
	.top-nav {
		position: relative;
		ul {
			width: 100%;
		}
		li {
			display: block;
		}
	}

	.logo {
		display: none;
	}
}